In [1]:
#firstly installing the required libraries
!pip install requests
!pip install bs4

Requirement already satisfied: requests in c:\users\ankush.parkhad\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: bs4 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)

# Q1) Write a python program to display all the header tags from wikipedia.org

In [223]:
#first we are importing all the required libraries
import requests
from bs4 import BeautifulSoup

#Send get request to the webpage server to get the source code of the page
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

#getting all the content of the page
soup=BeautifulSoup(page.content, 'html.parser')
soup.prettify()

#displaying all the header tags
headers=soup.find_all(['h1','h2','h3','h4','h5','h6'])
print('Here is the list of all the header tags :', *headers, sep='\n\n')

Here is the list of all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

# Q2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [430]:
#importing the required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

#sending the get request to the webpage server to get the source code of the page
page=requests.get('https://www.imdb.com/chart/top/')
page

#Here we are getting response[200], means we can scrap data from this website. 
#but if you we are getting other responses such as [501],[503] means we cannot scrap data from this website using beautifulsoup,
# then we will scrap data using celenium


# get all the content of the webpage
soup=BeautifulSoup(page.content)
soup

#now creating an empty list and storing all the movies names inside it
movies=[]
for i in soup.find_all('td',class_="titleColumn"):
    i=i.text.split("(")[0]
    i=i.split(".")[1]
    i=i.replace('\n', "")
    movies.append(i)
    
movies[0:100]


#creating an empty list and storing all the movies ratings inside it
ratings=[]
for i in soup.find_all("td",class_='ratingColumn imdbRating'):
    i=i.get_text().split("(")[0].replace('\n','')
    ratings.append(i)
    
ratings[0:100]


#Scrapping year of release
released_year=soup.find_all('span',class_='secondaryInfo')
released_year

#now creating an empty list and storing all the releasing years of movies inside it
year=[]
for i in soup.find_all('span',class_='secondaryInfo'):
    i=i.get_text().replace('\n',' ')
    year.append(i)
    
year[0:100]


#STORING THE SCRAPPED DATA BY CREATING A DATAFRAME USING PANDAS
df=pd.DataFrame({'Movie Names':movies, 'Ratings':ratings, 'Year of Release':year})
df[0:100]

                                Movie Names Ratings Year of Release
0                  The Shawshank Redemption     9.2          (1994)
1                             The Godfather     9.2          (1972)
2                           The Dark Knight     9.0          (2008)
3                     The Godfather Part II     9.0          (1974)
4                              12 Angry Men     9.0          (1957)
..                                      ...     ...             ...
95                             Citizen Kane     8.3          (1941)
96        M - Eine Stadt sucht einen Mörder     8.3          (1931)
97                       Lawrence of Arabia     8.3          (1962)
98                       North by Northwest     8.2          (1959)
99                                  Vertigo     8.2          (1958)

[100 rows x 3 columns]

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame

In [429]:
##importing the required libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup

#sending the get request to the webpage server to get the source code of the page
page=requests.get('https://www.imdb.com/list/ls009997493/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
page

# get all the content of the webpage
soup=BeautifulSoup(page.content, 'html.parser')
soup.prettify()

#now creating an empty list and storing all the movies names inside it
movie_names=[]

for i in soup.find_all('h3', class_='lister-item-header'):
    i=i.text.split("(")[0]
    i=i.split(".")[1]
    i=i.replace("\n","")
    movie_names.append(i)
    
movie_names

#creating an empty list and storing all the movies ratings inside it
rating=[]
for i in soup.find_all('div', class_='ipl-rating-star small'):
    i=i.text.replace("\n","")
    rating.append(i)
    
rating

#Scrapping year of release
year_of_release=[]

for i in soup.find_all('span', class_='lister-item-year text-muted unbold'):
    year_of_release.append(i.text)
    
year_of_release

#STORING THE SCRAPPED DATA BY CREATING A DATAFRAME USING PANDAS
df=pd.DataFrame({'Movie':movie_names, 'Rating':rating, 'Year of Release':year_of_release})
df

                     Movie Rating Year of Release
0                  Golmaal    8.5          (1979)
1                 3 Idiots    8.4          (2009)
2         Taare Zameen Par    8.4          (2007)
3             Black Friday    8.4          (2004)
4                    Guide    8.4          (1965)
..                     ...    ...             ...
95                Rangeela    7.4          (1995)
96                Jaane Tu    7.4          (2008)
97            Socha Na Tha    7.4          (2005)
98  Qayamat Se Qayamat Tak    7.4          (1988)
99                   Gunda    7.4          (1998)

[100 rows x 3 columns]

# Q4) Write a python program to display list of respected former presidents of India(i.e. Name , Term of office) 
from https://presidentofindia.nic.in/former-presidents.htm

In [431]:
#importing the required libraries
import requests
from bs4 import BeautifulSoup

#sending the get request to the webpage server to get the source code of the page
page=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page

# get all the content of the webpage
soup=BeautifulSoup(page.content, 'html.parser')
soup.prettify()

#creating an empty list and storing all the President's name inside it
Name=[]

for i in soup.find_all("div",class_="presidentListing"):
     Name.append(i.find("h3").text.split(" (")[0]) 

Name

#creating an empty list and storing all term of office dates inside it
term_of_office=[]

for i in soup.find_all('div', class_='presidentListing'):
    i=i.text.split(':')[1]
    i=i.split('\n')[0]
    term_of_office.append(i)
    
term_of_office

#creating the dataframe
import pandas as pd
df=pd.DataFrame({'Name':Name, 'Term of Office':term_of_office})
df

,Name,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# I tried a lot but didnot able to scrap the data which are given in question 5 and question 6, so please pardon me for that, i raised a lot of tickets for these questions but dont know why everytime the code is showing some error and i was not able to rectify that.

# Q5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [305]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

soup=BeautifulSoup(page.content, 'html.parser')
soup.prettify()

teams=[]

for i in soup.find_all('span', class_='u-hide-phablet'):
    teams.append(i.text)
    
teams[0:10]

firstteam_match=soup.find('td', class_='rankings-block__banner--matches')
firstteam_match.text

new_list=[]

for i in soup.find_all('td', class_='table-body__cell u-center-text'):
    new_list.append(i.text)

    
new_list

matches=[]
points=[]

for i in range(0,len(new_list)-1,2):

    matches.append(new_list[i]) # other teams matches

    points.append(new_list[i+1]) # other teams points
    
    
matches[0:9]
points[0:9]

# Q6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [403]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

soup=BeautifulSoup(page.content, 'html.parser')
soup.prettify()

teams=[]

for i in soup.find_all('span', class_='u-hide-phablet'):
    teams.append(i.text)
    
teams[0:10]

list1=[]

topteam_match=soup.find('td', class_='rankings-block__banner--matches')
list1.append(topteam_match.text)

list1


list2=[]
topteam_point=soup.find('td', class_='rankings-block__banner--points')
list2.append(topteam_point.text)

list2

new_list=[]

for i in soup.find_all('td', class_='table-body__cell u-center-text'):
    new_list.append(i.text)
    
new_list

matches=[]
points=[]

for i in range(0,len(new_list)-1,2):

    matches.append(new_list[i]) # other teams matches

    points.append(new_list[i+1]) # other teams points
    
matches
points

final_matches_list= list1 + matches
final_matches_list[0:10]

final_points_list= list2 + points
final_points_list[0:10]

df=pd.DataFrame({'Teams':teams[0:10], 'Matches':final_matches_list[0:10], 'Points':final_points_list[0:10]})
df

          Teams Matches Points
0     Australia      18  3,061
1  South Africa      26  3,098
2       England      25  2,904
3         India      27  2,820
4   New Zealand      24  2,425
5   West Indies      24  2,334
6    Bangladesh      12    932
7      Thailand       8    572
8      Pakistan      24  1,519
9     Sri Lanka       8    353

# b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [428]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page

soup=BeautifulSoup(page.content, 'html.parser')
(soup.prettify()

list1=[]

for i in soup.find_all('div', class_='rankings-block__banner--name'):
    list1.append(i.text)
    
list1

list2=[]

for i in soup.find_all('td',class_='table-body__cell name'):
    i=i.text.replace("\n","")
    list2.append(i)

k=list2[0:27:1]
k[0:9]

df=pd.DataFrame({'Players':k})
df

SyntaxError: invalid syntax (2523662152.py, line 11)

# Q7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world : i) Headline, ii) Time, iii) News Link

In [432]:
#importing the required libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup

#Send get request to the webpage server to get the source code of the page
page=requests.get('https://www.cnbc.com/world/?region=world')
page

#getting all the page content
soup=BeautifulSoup(page.content,'html.parser')
soup.prettify()

#creating an empty list and appending all the headlines in it
headline=[]

for i in soup.find_all('a', class_='LatestNews-headline'):
    headline.append(i.text)
    
headline

#creating an empty list and appending all the time in it
time=[]

for i in soup.find_all('time', class_='LatestNews-timestamp'):
    time.append(i.text)
    
time

#creating an empty list and appending all the links in it
links=[]

for i in soup.find_all('a', class_='LatestNews-headline'):
    links.append(i.get('href'))
    
links

#creating the dataframe
df=pd.DataFrame({'Headline':headline, 'Time':time, 'URLs':links})
df

,Headline,Time,URLs
0,The 10 countries with the least paid vacation—...,2 Hours Ago,https://www.cnbc.com/2022/12/04/the-10-countri...
1,"Michigan couple makes $9,000/mo teaching peopl...",2 Hours Ago,https://www.cnbc.com/2022/12/04/michigan-coupl...
2,These 10 cars have the greatest potential life...,3 Hours Ago,https://www.cnbc.com/2022/12/04/these-10-cars-...
3,Startup backed by Tesla investor promises $300...,3 Hours Ago,https://www.cnbc.com/2022/12/04/alef-aeronauti...
4,Manufacturing orders from China down 40% in de...,3 Hours Ago,https://www.cnbc.com/2022/12/04/manufacturing-...
5,Death of the internal combustion engine — Cowe...,3 Hours Ago,https://www.cnbc.com/2022/12/04/death-of-the-i...
6,"These stocks are cheap heading into 2023, and ...",3 Hours Ago,https://www.cnbc.com/2022/12/04/these-stocks-a...
7,Who will be Disney's next CEO? Here are the to...,4 Hours Ago,https://www.cnbc.com/2022/12/04/disney-ceo-top...
8,Study: exercise may increase the effectiveness...,4 Hours Ago,https://www.cnbc.com/2022/12/04/study-exercise...
9,OPEC+ agrees to stick to its existing policy o...,4 Hours Ago,https://www.cnbc.com/2022/12/04/opec-meeting-o...
10,Parking lots are becoming as important as cars...,"December 3, 2022",https://www.cnbc.com/2022/12/03/parking-lots-b...
11,Amazon's cloud unit faces cost-sensitive custo...,"December 3, 2022",https://www.cnbc.com/2022/12/03/aws-faces-cost...
12,Don’t overlook this health warning on your dec...,"December 3, 2022",https://www.cnbc.com/2022/12/03/dont-overlook-...
13,How electric air taxis could shake up the airl...,"December 3, 2022",https://www.cnbc.com/2022/12/03/how-electric-a...
14,I raised 2 successful CEOs and a doctor. Here'...,"December 3, 2022",https://www.cnbc.com/2022/12/03/i-raised-2-suc...
15,Delta pilots would get more than 30% in pay ra...,"December 3, 2022",https://www.cnbc.com/2022/12/03/delta-pilots-w...
16,Men participate less in 401(k) plans than wome...,"December 3, 2022",https://www.cnbc.com/2022/12/03/men-participat...
17,The best U.S. states to raise a family if you ...,"December 3, 2022",https://www.cnbc.com/2022/12/03/best-states-ra...
18,Susan Cain: This Bob Dylan-inspired phrase can...,"December 3, 2022",https://www.cnbc.com/2022/12/03/bestselling-au...
19,The difference between this comeback and the m...,"December 3, 2022",https://www.cnbc.com/2022/12/03/the-difference...
20,Goldman says buy these five stocks for the lon...,"December 3, 2022",https://www.cnbc.com/2022/12/03/goldman-says-b...
21,Celsius users with crypto collateral stuck tur...,"December 3, 2022",https://www.cnbc.com/2022/12/03/celsius-users-...
22,Cramer's lightning round: Let Extreme Networks...,"December 2, 2022",https://www.cnbc.com/2022/12/02/cramers-lightn...
23,Jim Cramer says these 3 apparel stocks benefit...,"December 2, 2022",https://www.cnbc.com/2022/12/02/jim-cramer-say...
24,Cramer’s week ahead: Markets need a strong job...,"December 2, 2022",https://www.cnbc.com/2022/12/02/cramers-week-a...
25,Pro Picks: Watch all of Friday's big stock cal...,"December 2, 2022",https://www.cnbc.com/2022/12/02/pro-picks-watc...
26,"There is 'enormous opportunity' in REITs, says...","December 2, 2022",https://www.cnbc.com/2022/12/02/reits-offer-en...
27,Biden administration will end monkeypox public...,"December 2, 2022",https://www.cnbc.com/2022/12/02/biden-administ...
28,Expect more choppiness ahead after a week of m...,"December 2, 2022",https://www.cnbc.com/2022/12/02/expect-more-ch...
29,"GM, LG investing $275 million to expand Tennes...","December 2, 2022",https://www.cnbc.com/2022/12/02/gm-lg-investin...

# Q8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days. https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details : i) Paper Title, ii) Authors, iii) Published Date, iv) Paper URL

In [152]:
#importing all the required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

#sending the get request to the webpage server to get the source code of the page
page=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page

#Here we are getting response[200], means we can scrap data from this website. 
#but if you we are getting other responses such as [501],[503] means we cannot scrap data from this website using beautifulsoup,
# then we will scrap data using celenium


# get all the content of the webpage
soup=BeautifulSoup(page.content, 'html.parser')
soup.prettify()

#creating an empty list to store the titles of all the papers and then appending all titles using for loop
title=[]
 
for i in soup.find_all('h2', class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
    title.append(i.text)

title

#creating an empty list to store the Authors of all the papers and then appending all Authors using for loop
authors=[]

for i in soup.find_all('span', class_='sc-1w3fpd7-0 dnCnAO'):
    authors.append(i.text)
    
authors

#creating an empty list to store the Published date of all the papers and then appending all the dates using for loop
publishdate=[]

for i in soup.find_all('span', class_='sc-1thf9ly-2 dvggWt'):
    publishdate.append(i.text)
    
publishdate

#creating an empty list to store the URLs of all the papers and then appending all URLs using for loop
url=[]

for i in soup.find_all('a', class_='sc-5smygv-0 fIXTHm'):
    url.append(i.get('href'))
    
url

#Finally creating a dataframe
df=pd.DataFrame({'Paper Title':title, 'Authors':authors, 'Published Date':publishdate,'Paper URL':url})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Q9) Write a python program to scrape mentioned details from dineout.co.in :i) Restaurant name, ii) Cuisine, iii) Location, iv) Ratings, v) Image URL

In [433]:
#importing the required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

#Send get request to the webpage server to get the source code of the page
page=requests.get('https://www.dineout.co.in/delhi-restaurants/welcome-back')
page

#getting all the content of the page
soup=BeautifulSoup(page.content,'html.parser')
soup.prettify()

#creating an empty list and appending all the restaurant names in it using for loop
title=[]

for i in soup.find_all('a', class_='restnt-name ellipsis'):
    title.append(i.text)

title

#creating an empty list and appending all the cuisines in it using for loop
cuisine=[]

for i in soup.find_all('div', class_='detail-info'):
    i=i.text.split("|")[1]
    cuisine.append(i)
    
cuisine

#creating an empty list and appending all the restaurant location in it using for loop
location=[]

for i in soup.find_all('div', class_='restnt-loc ellipsis'):
    location.append(i.text)
    
location

#creating an empty list and appending all the restaurant ratings in it using for loop
ratings=[]

for i in soup.find_all('div', class_='restnt-rating rating-4'):
    ratings.append(i.text)
    
ratings

#creating an empty list and appending all the restaurant image url in it using for loop
image_url=[]

for i in soup.find_all('img', class_='no-img'):
    image_url.append(i.get('data-src'))
    
image_url

#finally creating the dataframe
df=pd.DataFrame({'Restaurant':title, 'Cuisine':cuisine, 'Location':location,'Ratings':ratings, 'Image URL':image_url})
df

,Restaurant,Cuisine,Location,Ratings,Image URL
0,Tamasha,"Continental, Asian, Italian, North Indian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Local,"North Indian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Station Bar,"Italian, Chinese, North Indian, Fast Food1 de...","F-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,QBA,"North Indian, Continental, Italian","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Ministry Of Beer,"North Indian, Continental, American, Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,Unplugged Courtyard,"North Indian, Italian, Chinese, Turkish, Cont...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
6,The Junkyard Cafe,"North Indian, Continental, Chinese, Fast Food...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,The G.T. ROAD,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,The Luggage Room By Sandoz,"Chinese, Italian, North Indian, Continental","M-Block,Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
9,Ardor 2.1 Restaurant and Lounge,"North Indian, Chinese, Italian, Continental","Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
10,Chido,"North Indian, Italian, Continental, Asian, Fi...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
11,Sandoz,"North Indian, Chinese, Continental","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
12,My Bar Headquarters,"North Indian, Chinese","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
13,Out Of The Box Courtyard,"North Indian, Mediterranean, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
14,Connaught Clubhouse Microbrewery,"North Indian, Continental, Asian, Chinese","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
15,Openhouse Cafe,"North Indian, Asian, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
16,Berco's,"Chinese, Thai","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
17,38 Barracks,"North Indian, Chinese, Continental","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
18,Cafe Delhi Heights,"Continental, North Indian, Beverages, Chinese...","Janpath, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
19,Chili's American Grill and Bar,"Mexican, American, Tex Mex","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
20,Wok in the Clouds,"Chinese, Thai, Continental, North Indian, Asian","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape the details of top publications from Google Scholar from  https://scholar.google.com/citations?view_op=top_venues&hl=en i) Rank , ii) Publication, iii) h5-index, iv) h5-median

In [25]:
#importing all the required libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup

#Send get request to the webpage server to get the source code of the page
page=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
page

#get all the content of the page
soup=BeautifulSoup(page.content, 'html.parser')
soup.prettify()

#creating an empty list and appending all the ranks in it using for loop
rank=[]

for i in soup.find_all('td', class_='gsc_mvt_p'):
    rank.append(i.text)
rank

#creating an empty list and appending all thepublications in it using for loop
Publication=[]

for i in soup.find_all('td', 'gsc_mvt_t'):
    Publication.append(i.text)
Publication

#creating an empty list and appending all the h5_index in it using for loop
h5_index=[]

for i in soup.find_all('a', class_='gs_ibl gsc_mp_anchor'):
    h5_index.append(i.text)
    
h5_index

##creating an empty list and appending all the h5_median in it using for loop
h5_median=[]

for i in soup.find_all('span', class_='gs_ibl gsc_mp_anchor'):
    h5_median.append(i.text)
    
h5_median
# finally creating the dataframe
df=pd.DataFrame({'Rank':rank, 'Publication':Publication, 'h5_Index':h5_index, 'h5_Median':h5_median})
df

    Rank                                        Publication h5_Index h5_Median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]