In [307]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ankush.parkhad\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: outcome in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: async-generator>=1.9 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos. You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [282]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

#Now lets first connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the given link
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

driver.maximize_window()

#creating empty lists to store our scraped data
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

#scrapping rank of all videos
ranks=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in ranks:
    rank.append(i.text)

#scrapping name of all videos
names=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in names:
    name.append(i.text)

#scrapping artists of all videos
artists=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
for i in artists:
    artist.append(i.text)

#scrapping uploading date
date=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
for i in date:
    upload_date.append(i.text)

#scrapping views(in billions)
view=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
for i in view:
    views.append(i.text)

#creating a dataframe to store the values
df=pd.DataFrame({'Rank':rank, "Name": name, 'Artist':artist, 'Publication date':upload_date, 'Views (in billions)': views})
df

,Rank,Name,Artist,Publication date,Views (in billions)
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.05
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.57
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.88
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.74
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.08
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.79
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.76
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.64
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.18
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.67
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.40
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.31
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

 # 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time

In [299]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')


#opening the given link
driver.get('https://www.bcci.tv/')

driver.maximize_window()

#clicking on menu button
menu=driver.find_element(By.XPATH,'/html/body/nav/div[1]/button')
menu.click()

#clicking on international button
element=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
element.click()

#clicking on more fixtures button
button=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')
button.click()

#clicking once again on more fixture button to load all matches
button=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')

#creating empty lists to store all data
title=[]
series=[]
place=[]
date=[]
time=[]

#scrapping titles
titles=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in titles:
    title.append(i.text.split("-")[0][:-1])

#scrapping series
seriess=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in seriess:
    series.append(i.text)

#scrapping place
location=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in location:
    place.append(i.text.split('-')[1])

#scrapping date
datee=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in datee:
    date.append(i.text)

#scrapping time
timee=driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]')
for i in timee:
    time.append(i.text)

#creating dataframe
df=pd.DataFrame({'Match Title':title, 'Series':series, 'Place':place, 'Date':date, 'Time':time})

df

,Match Title,Series,Place,Date,Time
0,4th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",3 JAN 2023,1:30 PM IST
1,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium, Mumbai",3 JAN 2023,7:00 PM IST
2,5th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",4 JAN 2023,1:30 PM IST
3,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Maharashtra Cricket Association Stadium, Pune",5 JAN 2023,7:00 PM IST
4,3rd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Saurashtra Cricket Association Stadium, Rajkot",7 JAN 2023,7:00 PM IST
5,1st ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST
6,2nd ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Eden Gardens, Kolkata",12 JAN 2023,1:30 PM IST
7,3rd ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Greenfield International Stadium, Thiruvanant...",15 JAN 2023,1:30 PM IST
8,1st ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Rajiv Gandhi International Stadium, Hyderabad",18 JAN 2023,1:30 PM IST
9,2nd ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,Shaheed Veer Narayan Singh International Cric...,21 JAN 2023,1:30 PM IST
10,3rd ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Holkar Cricket Stadium, Indore",24 JAN 2023,1:30 PM IST
11,1st T20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,"JSCA International Stadium Complex, Ranchi",27 JAN 2023,7:30 PM IST
12,2nd T20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,29 JAN 2023,7:30 PM IST
13,3rd T20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,"Narendra Modi Stadium, Ahmedabad",1 FEB 2023,7:30 PM IST
14,1st Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Vidarbha Cricket Association Stadium, Nagpur",9 FEB 2023,9:30 AM IST
15,2nd Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Arun Jaitley Stadium, Delhi",17 FEB 2023,9:30 AM IST
16,3rd Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Himachal Pradesh Cricket Association Stadium,...",1 MAR 2023,9:30 AM IST
17,4th Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Narendra Modi Stadium, Ahmedabad",9 MAR 2023,9:30 AM IST
18,1st ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium, Mumbai",17 MAR 2023,1:30 PM IST
19,2nd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,Dr YS Rajasekhara Reddy ACA,19 MAR 2023,1:30 PM IST
20,3rd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA Chidambaram Stadium, Chennai",22 MAR 2023,1:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name

In [ ]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

#Now lets first connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the given link
driver.get('https://www.guru99.com/')
driver.maximize_window()
time.sleep(5)

#clicking on selenium
element=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
element.click()

#clicking on tutorial
tutorial=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
tutorial.click()

#creating empty lists to store data
name=[]

names=driver.find_elements(By.TAG_NAME,'p')
exception=[]
for i in names:
    if ":" in i.text:
        exception.append(i.text)

for i in exception:
    name.append(i.split(":")[0])
    discription.append(i.split(":")[1])

name=name[:-1]
for n in name:
    names=n.split('. ')[1]

#create dataframe
df=pd.DataFrame({'Name':name})
df

#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

#Now lets first connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the given link
driver.get('https://www.guru99.com/')
driver.maximize_window()
time.sleep(5)

#clicking on selenium
element=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
element.click()

#clicking on tutorial
tutorial=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
tutorial.click()

#creating empty lists to store data
name=[]

names=driver.find_elements(By.TAG_NAME,'p')
exception=[]
for i in names:
    if ":" in i.text:
        exception.append(i.text)

for i in exception:
    name.append(i.split(":")[0])
    discription.append(i.split(":")[1])

name=name[:-1]
for n in name:
    names=n.split('. ')[1]

# 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices E) Share(18-19)  F) GDP($ billion)

In [ ]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

#Now lets first connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the given link
driver.get('http://statisticstimes.com/')
driver.maximize_window()
time.sleep(5)

#clicking on economy dropdown button
button=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button/i')
button.click()

#clicking on india
button=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
button.click()

#clicking on gdp of indian states
element=driver.find_element(By.CLASS_NAME,'ec')
element.click()

#creating empty lists to store our scraped data
rank=[]
state=[]
GSDP1=[]
GSDP2=[]
GDP=[]


#scrapping rank
ranks=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr//td[@class="data1"]')
for i in ranks:
    rank.append(i.text)

#scrapping state
states=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr//td[@class="name"]')
for i in states:
    state.append(i.text)

#scrapping GSDP(18-19)
gsdp1=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr//td[@class="data sorting_1"]')
for i in gsdp1:
    GSDP1.append(i.text)

# 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used

In [ ]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

#Now lets first connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the given link
driver.get('https://github.com/')

driver.maximize_window()

#clicking on explore button
button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div[3]/nav/a[5]')
button.click()

#clicking on trending
button=driver.find_element(By.XPATH,'/html/body/div[1]/div[5]/main/div[1]/nav/div/a[3]')
button.click()

# 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank  E) Weeks on board

In [277]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

#Now lets first connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the given link
driver.get('https:/www.billboard.com/ ')

driver.maximize_window()

#clicking on menu icon
icon=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
icon.click()

#clicking on expand sign
element=driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div/div/div/ul/li[1]/h3/button/span')
element.click()

#clicking on hot 100
element=driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div/div/div/ul/li[1]/ul/li[2]/a')
element.click()

# 7.Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for

In [276]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

#Now lets first connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the given link
driver.get('https://www.naukri.com/hr-recruiters-consultants')
driver.maximize_window()

#searching data science
element=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
element.send_keys('data science')

#clicking on search button
search=driver.find_element(By.ID,'qsbFormBtn')
search.click()

#creating empty lists to store data
name=[]
desg=[]
comp=[]
skills=[]

#scrapping names
names=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in names:
    name.append(i.text)

#scrapping designation
des=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in des:
    desg.append(i.text)

#scrapping companies
com=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
for i in com[1:100:2]:
    comp.append(i.text)

#scrapping skills
skill=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in skill:
    skills.append(i.text)

#creating dataframe
df=pd.DataFrame({'Names':name, 'Designation':desg, 'Company':comp, 'Skills Required':skills})
df

,Names,Designation,Company,Skills Required
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele..."
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm..."
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics"
15,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET..."
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science"
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin..."
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa..."
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine..."
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product..."
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne..."
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software..."
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ..."
33,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading..."
34,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S..."
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti..."
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat..."
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ..."
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private..."
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering"
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark..."
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary"
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B..."
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs"
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni..."
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute..."
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,..."
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage..."

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher

In [236]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

#Now lets first connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the given link
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
driver.maximize_window()

#creating empty lists to store data
name=[]
author=[]
sold=[]
publ=[]
gen=[]

#scrapping names
names=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr//td[@class="left"]')
for i in names[1:500:5]:
    name.append(i.text)

#scrapping authors
authors=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in authors[2:500:5]:
    author.append(i.text)

#scrapping volumes sold
vol=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in vol[3:500:5]:
    sold.append(i.text)
    print(len(sold))

#scrapping publisher
pub=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in pub[4:500:5]:
    publ.append(i.text)

#creating dataframe
df=pd.DataFrame({'Book Name':name, 'Author':author, 'Volume sold': sold, 'Publisher':publ})
df

,Book Name,Author,Volume sold,Publisher
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House
...,...,...,...,...
195,"Ghost,The","Harris, Robert","807,311",Random House
196,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
197,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
198,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
199,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [253]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

#Now lets first connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the given link
driver.get('https://www.imdb.com/list/ls095964455/')
driver.maximize_window()

#creating empty lists to store data
name=[]
year=[]
gen=[]
time=[]
ratings=[]
votes=[]

#scrapping names
names=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in names:
    name.append(i.text)

#scrapping years
years=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in years:
    year.append(i.text)

#scrapping genre
genre=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre:
    gen.append(i.text)

#scrapping runtime
run=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in run:
    time.append(i.text)

#scrapping ratings
rate=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rate:
    ratings.append(i.text)

#scrapping votes
vote=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in vote:
    votes.append(i.text)

#creating dataframe
df=pd.DataFrame({'Name':name, 'Year Span':year, 'Genre':gen, 'Run Time':time, 'Ratings':ratings, 'Votes':votes})
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,100,469"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,190,757"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"994,332"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"294,273"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,371"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,382"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,996"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"199,979"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,715"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"247,036"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [254]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

#Now lets first connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the given link
driver.get('https://archive.ics.uci.edu/')
driver.maximize_window()

In [255]:
#clicking on show all datasets
button=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]')
button.click()