In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ankush.parkhad\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: async-generator>=1.9 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ankush.parkhad\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [ ]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time



# Now we will download the webdriver for the Web Browser. Steps for downloading are:
#1. Check the version of your browser.
#2. go to the link  https://chromedriver.chromium.org/downloads
#3. Download the webdriver for your version of your browser.

#First connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the naukri page on automated chrome browser
driver.get('https://www.naukri.com/')

#entering designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Analyst')

location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input') #here we have to extract only one element thats why we are using absolute xpath here
location.send_keys('Bangalore')

search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

#creating the empty lists
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#scrapping job titles from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')#here i have to extract more than one path thats why we are using relative xpath here
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scrapping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags[0:10]:
    locations=i.text
    job_location.append(locations)

#scrapping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

#scrapping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

print(len(job_title), len(job_location), len(company_name), len(experience_required))

In [23]:
#creating the dataframe from the above data
df=pd.DataFrame({'Job Title': job_title, 'Job Location':job_location,'Company Name':company_name, 'Experience Required':experience_required })
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
1,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,3-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
3,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
4,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs
5,"Data Analyst, Business Analyst",Bangalore/Bengaluru(HSR Layout +1),Clinilaunch Research Institute Llp,0-5 Yrs
6,Data Analyst,Temp. WFH - Bangalore/Bengaluru,Treebo Hotels,1-5 Yrs
7,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart,1-5 Yrs
8,Data Analyst,Bangalore/Bengaluru,Cargill,2-4 Yrs
9,Data Analyst,Bangalore/Bengaluru,Eli Lilly And Company,2-6 Yrs

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps:

1. First get the webpage https://www.naukri.com/

2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.

3. Then click the search button.

4. Then scrape the data for the first 10 jobs results you get.

5. Finally create a dataframe of the scraped data.

In [ ]:
#first importing the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time


 #Now we will download the webdriver for the Web Browser. Steps for downloading are:
#1. Check the version of your browser.
#2. go to the link  https://chromedriver.chromium.org/downloads
#3. Download the webdriver for your version of your browser.

#first connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the naukri page on automated chrome broswser
driver.get('https://www.naukri.com/')

#entering the designation and location as required in the quesion
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

#clicking the search button
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

#creating the empty lists
job_title=[]
job_location=[]
company_name=[]

#scrapping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')#here i have to extract more than one path thats why we are using relative xpath here
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scrapping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

    
#scrapping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [39]:
#creating the dataframe from the above data
df=pd.DataFrame({'Job Title': job_title, 'Job Location':job_location,'Company Name':company_name})
df

,Job Title,Job Location,Company Name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc
2,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra
3,"Data & Analytics Lead, Geo Analytics - GAMMA",Bangalore/Bengaluru,Boston Consulting Group
4,Weather and Climate Data Scientist,Bangalore/Bengaluru,Shell Pvt Ltd
5,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree
6,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
8,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS
9,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [155]:
#first importing the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time


 #Now we will download the webdriver for the Web Browser. Steps for downloading are:
#1. Check the version of your browser.
#2. go to the link  https://chromedriver.chromium.org/downloads
#3. Download the webdriver for your version of your browser.

#first connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the naukri page on automated chrome broswser
driver.get('https://www.naukri.com/')

#entering the designation as required in the quesion
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

#clicking the search button
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

#ticking the location(Delhi/NCR) box
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
location.click()


#ticking the salary range(3-6 lakhs)
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

#creating empty lists
title=[]
location=[]
company=[]
exp=[]

#scrapping first 10 job titles
job=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in job[0:10]:
    title.append(i.text)
    
#scrapping first 10 job location
loc=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in loc[0:10]:
    location.append(i.text)
    
#scrapping first 10 job company
com=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com[0:10]:
    company.append(i.text)
    
#scrapping first 10 job experience
experience=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in experience[0:10]:
    exp.append(i.text)
    
#creating dataframe
df=pd.DataFrame({'Job Title':title, 'Job Location':location, 'Company Name':company, 'Experience Required':exp})
df

,Job Title,Job Location,Company Name,Experience Required
0,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
1,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
2,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
3,Data Scientist,Temp. WFH - Noida,NGI Ventures,1-5 Yrs
4,Opening For Jr. Data Scientist with Tatras Dat...,Delhi / NCR,Tatras Data Services,2-4 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs
7,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,Digilytics,2-5 Yrs
8,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
9,SE/SSE-Data Scientist,Delhi / NCR,Bold Technology Systems,3-8 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand

2. ProductDescription

3. Price

In [204]:
#first importing the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time


 #Now we will download the webdriver for the Web Browser. Steps for downloading are:
#1. Check the version of your browser.
#2. go to the link  https://chromedriver.chromium.org/downloads
#3. Download the webdriver for your version of your browser.

#first connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the flipkart page on automated chrome broswser
driver.get('https://www.flipkart.com/')

#typing sunglasses in search box
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('Sunglasses')


#clicking the search button
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

#creating empty lists
brand=[]
desc=[]
price=[]
discount=[]

#scrapping brand for 100 sunglasses
start=0
end=3
for page in range(start,end):
    sunglasses=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in sunglasses[0:100]:
        brand.append(i.text)

#scrapping desc for 100 sunglasses
start=0
end=3
for page in range(start,end):
    des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in des[0:100]:
        desc.append(i.text)

#scrapping price for 100 sunglasses
start=0
end=3
for page in range(start,end):
    pr=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr[0:100]:
        price.append(i.text)

In [216]:
#creating dataframe
df=pd.DataFrame({'Brand':brand, 'Discription':desc, 'Price':price})
df[0:100]

             Brand                                        Discription Price
0   ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...  ₹549
1     Silver Kartz           UV Protection Clubmaster Sunglasses (53)  ₹278
2       LIZA ANGEL  Riding Glasses, Night Vision Spectacle Sunglas...  ₹129
3         Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹489
4        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
..             ...                                                ...   ...
95   VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...  ₹719
96       Elligator                UV Protection Round Sunglasses (54)  ₹286
97       New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹259
98      LIZA ANGEL  UV Protection, Polarized Rectangular Sunglasse...  ₹129
99   VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹949

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART

As the link given in the ques is saying "Unfortunately the page you are looking for has been moved or deleted", so i searched the same product from flipkart by myself and completing the question from there.

In [220]:
#first importing the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time


 #Now we will download the webdriver for the Web Browser. Steps for downloading are:
#1. Check the version of your browser.
#2. go to the link  https://chromedriver.chromium.org/downloads
#3. Download the webdriver for your version of your browser.

#first connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the flipkart page on automated chrome broswser
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

#creating empty lists
rating=[]
review_summary=[]
full_review=[]


#scrapping first 100 ratings
start=0
end=10
for page in range(start,end):
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        rating.append(i.text)

#scrapping first 100 review summary
start=0
end=10
for page in range(start,end):
    summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary:
        review_summary.append(i.text)

#scrapping first 100 full review
start=0
end=10
for page in range(start,end):
    full=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full:
        full_review.append(i.text)

In [228]:
#creating dataframe
df=pd.DataFrame({'Ratings':rating, 'Review_summary':review_summary, 'Full Review':full_review})
df

,Ratings,Review_summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Highly recommended,It's my first time to use iOS phone and I am l...
96,5,Highly recommended,What a camera .....just awesome ..you can feel...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
99,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...

Below done question is throwing error at every point and i raised so much of tickets still the code didnt run and continously throwing errors thats why i left them in the middle

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:

1. Brand

2. ProductDescription

3. Price

In [ ]:
#first importing the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time


 #Now we will download the webdriver for the Web Browser. Steps for downloading are:
#1. Check the version of your browser.
#2. go to the link  https://chromedriver.chromium.org/downloads
#3. Download the webdriver for your version of your browser.

#first connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the flipkart page on automated chrome broswser
driver.get('https://www.flipkart.com/')

#searching sneakers in search field
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('Sneakers')

#clickin search button
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

#creating empty lists
brand=[]
prod_desc=[]
price=[]

#getting brand of first 100 sneakers
start=0
end=3
for page in range(start,end):
    brands=driver.find_element(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands[0:100]:
        brand.append(i)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()

# Q7: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
    
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
    
1. Title

2. Ratings

3. Price

In [ ]:
#first importing the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time


 #Now we will download the webdriver for the Web Browser. Steps for downloading are:
#1. Check the version of your browser.
#2. go to the link  https://chromedriver.chromium.org/downloads
#3. Download the webdriver for your version of your browser.

#first connecting to the web driver
driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the flipkart page on automated chrome broswser
driver.get(' https://www.amazon.in/')


#entering sneakers in the search field
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]')
product.send_keys('Sneakers')

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.The above task will be done in following steps:
1.First get the webpage https://www.azquotes.com/

2. Click on Top Quotes


3. Than scrap a) Quote b) Author c) Type Of Quotes

In [ ]:
#first importing the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Now we will download the webdriver for the Web Browser. Steps for downloading are:
#1. Check the version of your browser.
#2. go to the link  https://chromedriver.chromium.org/downloads
#3. Download the webdriver for your version of your browser.

driver= webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening page on automated chrome browser
driver.get(' https://www.azquotes.com/')

#clicking on show hide button
button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/a[1]')
button.click()

#clicking on top quotes
top=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top.click()
                        

#creating empty lists
quotes=[]
author=[]
type=[]

#scrapping all quotes
start=0
end=10
for page in range(start,end):
    quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote:
        quotes.append(i)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

In [131]:
#first importing the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Now we will download the webdriver for the Web Browser. Steps for downloading are:
#1. Check the version of your browser.
#2. go to the link  https://chromedriver.chromium.org/downloads
#3. Download the webdriver for your version of your browser.

driver= webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

driver

#opening the jagranjosh page on automated chrome browser
driver.get('https://www.jagranjosh.com/')

#clicking gk option as required in the ques
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

#clicking List of all Prime Ministers of India
PM=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
PM.click()

#Creating empty list to store the required data
name=[]
born_dead=[]
term_of_office=[]
remarks=[]

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.Car name ,Description and Price) from https://www.motor1.com/This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [294]:
#first import the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#Now we will download the webdriver for the Web Browser. Steps for downloading are:
#1. Check the version of your browser.
#2. go to the link  https://chromedriver.chromium.org/downloads
#3. Download the webdriver for your version of your browser.

driver=webdriver.Chrome(r'C:\Users\ankush.parkhad\Desktop\data science\chrome driver\chromedriver.exe')

#opening the motor1 page automated chrome browser
driver.get('https://www.motor1.com/')

#clicking the dropdown menu
drop_down=driver.find_element(By.CLASS_NAME,"m1-hamburger-button")
drop_down.click()

#clicking the features button to get the list option
features=driver.find_elements(By.CLASS_NAME, "dropdown-toggle")[2]
features.click()   

driver.find_element(By.LINK_TEXT,'LISTS').click()

#clicking the 50 most expensive cars in the world 
cars=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[2]/div/div[1]/h3/a')
cars.click()

#creating empty lists to dump the data
car_name=[]
car_price=[]
car_description=[]

#scrapping the names of the car
car=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car:
    car_name.append(i.text)

#scrapping the prices of cars
price=driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]/strong')
for i in price:
    car_price.append(i.text)